*{
    padding: 0px;
    margin: 0px;
  
}

.header{
    display: flex;
    margin: auto;
    background-color:#000; 
    justify-content:flex-start;
    color: #ddd;
    font-family: Calibri,sans-serif;
    font-size: 14px;
}
.navBar{
    display: flex;
    margin: auto;
    background-color:#000; 
    justify-content:flex-start;
    color: #ddd;
    font-family: Calibri,sans-serif;
    font-size: 14px;

 }

.navLogo{
    width:70px;
    margin-left: 10px;
}

ul,ol {
    list-style: none
}


.navBar li p{
    background-color:#000; 
    display: block;
    padding: 10px 15px;
    color: #ddd; 
}

.navBar li p:hover{
    background-color:#000;  
}

.navBar > li {
    float: left;
    
}

.navBar li ul{
   display: none;
    position: absolute;
    min-width: 140px;
}
.navBar li:hover > ul{
    display: block;
}

.navBar li ul li{
    position: relative;
    top: 0px;
}

#subMenu{
  
    margin: auto;
}

.navStyle{
    margin-top: 10px;
    margin-left: 10px;
}

